/* 全页视频背景 */
.pl-container {
  width: 100%;
  height: 100%;
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  object-fit: cover;
  animation: scale 1.5s cubic-bezier(.62,.21,.25,1) 0s 1 both;
}

@keyframes scale {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* 页脚透明 */
#footer {
    background: transparent !important;
  }
  
/* 头图透明 */
#page-header {
    background: transparent !important;
}

/* 移除主题默认的黑色半透明遮罩层 */
#page-header:not(.not-top-img):before {
    background-color: transparent !important;
}
/* 底部透明 */
#footer-bar{
    background: transparent !important;
}

/* 更多透明 */
#category-bar{
    background: transparent !important;
}